@model List<Student>

<partial name="_Nortification" />

<h1>
    Hello I am Category
</h1>
<a class="btn btn-dark text-right" asp-controller="Category" asp-action="Create" style="width: 200px" >Add a New Student</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Age</th>
            <th scope="col" >Edit</th>
            <th scope="col">Delite</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <th scope="row">@obj.id</th>
                <td>@obj.name</td>
                <td>@obj.clas</td>
                <td>@obj.age</td>
                <td><a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.id" class="btn btn-warning btn-sm" >Edit</a></td>
                <td><a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.id" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        }
    </tbody>
</table>